body{
    margin-top: 50px;
    background-image: url('p9mUO.jpg');

}




h1{
    text-align: center;
    background-position: center;
    background-image: url('view.png');
    color:rgb(0, 0, 0);
    font-size:250%;
}

h2{
    text-align: center;
    font-size: 250%;
    color:red;
    font-size:200%;
}


p{
 
    text-align: left;

}
table{
    
    




}